@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');
* {
  box-sizing: border-box !important;
  font-weight: normal;
  text-decoration: none !important;
}
body {
  background: linear-gradient(90deg, black, grey, pink, skyblue);
  /* background-size: cover; */
  height: 100%;
  width: 100%;
  color: rgb(8, 34, 51);
}
.nav-wrapper {
  background: cornflowerblue;
  color: rgb(0, 0, 0);
}
h5 {
  font-family: 'Quicksand', cursive;
}
.lilink {
  text-decoration: none !important;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
}
.lilink:hover {
  transform: scaleX(0.9);
  color: black;
}
h2 {
  font-family: 'Pacifico', cursive;
}
.brand-logo {
  color: rgb(0, 0, 0) !important;
  font-family: 'Quicksand', serif;
  margin: auto !important;
  font-weight: 400 !important;
}
.cardy {
  padding: 20px;
  text-align: center;
  max-width: 500px;
  margin: 20px auto;
}
.ch {
  font-family: 'Itim', cursive;
  color: #fff;
}

.input-field input[type='text']:focus {
  border-bottom: 1px solid rgb(8, 93, 252) !important;
  box-shadow: 0 1px 0 0 rgb(15, 150, 228) !important;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 30%;
  border-radius: 2px;
  padding-bottom: 2px;
}

.home-card {
  max-width: 500px;
  height: max-content;
  margin: 20px auto;
}

#toast-container {
  top: 50px;
  margin: auto auto;
  justify-content: center;
}
.material-icons:hover {
  cursor: pointer;
}
