@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&family=Dancing+Script:wght@700&family=Tenali+Ramakrishna&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Itim&family=Piedra&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Itim&family=Sriracha&display=swap');
h5 {
   text-decoration: none !important;
   font-family: 'Sriracha', cursive;
}
.lilink{
   text-decoration: none !important;
   font-family: 'Itim', cursive;
   color:white
}

h2 {
   font-family: 'Pacifico', cursive;
}
.brand-logo{
   color:white !important;
   font-family: 'Pacifico', cursive;
}

.cardy {
   padding: 20px;
   text-align: center;
   max-width: 400px;
   margin: 10px auto
}
.ch{
   font-family: 'Itim', cursive;
   color:#fff
}

.input-field input[type=text]:focus {
   border-bottom: 1px solid rgb(8, 93, 252) !important;
   box-shadow: 0 1px 0 0 rgb(15, 150, 228) !important;
}

.gallery {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.item {
   width: 30%;
   border-radius: 2px;
   padding-bottom: 2px;

}


.home-card {
   max-width: 500px;
   height: max-content;
   margin: 20px auto;
}


#toast-container {
   top: 50px;
   margin:auto auto;
   justify-content: center;
}
.abouth5,.centre{
   font-family: 'Piedra', cursive;
}